@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h1>Сотрудники</h1>
    <p class="lead">Веб приложение, которое позволяет создавать языки программирования, отделы и сотрудников компании.</p>
</div>
